* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Encode Sans", sans-serif;
}
section {
  margin-bottom: 50px;
}
body {
  background-color: #e5e5e5;
}
/***scrollbar css config ****/
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #b8b8b8 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
  border-radius: 9px;
  border: 5px solid #ffffff;
}

.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
}
.pb-50 {
  padding-bottom: 50px;
}

/*HEADER*/

.header {
  position: fixed;
  width: 100%;
  background-color: #cf2b2b;
  color: #ffffff;
  padding: 10px 0;
}

.header__title {
  font-size: 44px;
  line-height: 54.63px;
}

.header__subtitle {
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 400;
}

/*SECTION PRATOS*/
.pratos {
  padding-top: 150px;
}

.pratos__title {
  font-size: 26px;
  line-height: 32px;
}

.cards {
  margin-top: 15px;
  display: flex;
  gap: 25px;
  align-items: center;
  overflow-x: hidden;
}

.card__prato {
  width: 172px;
  height: 202px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: column;
  border-radius: 9px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.border {
  border: 6px solid #32b72f;
}

.card__prato img {
  width: 144px;
  height: 87px;
}

.card__parto-title {
  margin: 8px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #333333;
}

.card__prato-info {
  width: 144px;
  font-size: 15px;
  line-height: 17px;
  color: #a6a6a6;
  font-weight: 300;
}

.preco {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 8px;
}

/*BUTTON*/
.button-confirm {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  margin: 0px 0;
}

.no-button-confirm {
  width: 364px;
  height: 61px;
  border-radius: 50px;
  background-color: #cbcbcb;
  margin: 10px 0;
  font-size: 20px;
  line-height: 23px;
  color: white;
  cursor: pointer;
  border: none;
}

.bg-confirm {
  background-color: #32b72f;
  color: #ffffff;
}

/*JANELA POP-UP*/

.pop-up{
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  padding:0 15px;
  background-color: #50D074;
  border-radius: 10px;
  z-index: 2;
}

.pop-up h2{
  margin:20px 0;
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 25px;
  font-weight: 700;
}

.lista-pedido{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.lista-pedido p{
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 1.18%;
  margin:8px 0;
}

.preco-pedido{
  text-align: right;
}

.total-pedido{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  color: #ffffff;
}

.total-pedido p{
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.18%;
  text-transform: uppercase;
}
.total-pedido p:nth-of-type(2){
  text-align:right;
}

button.confirmar-pedido{
  width: 330px;
  height: 52px;
  margin: 15px 0;
  margin-left: 10px;
  line-height: 52px;
  border-radius: 100px;
  border:none;
  text-align: center;
  background-color: #ffffff;
  color:#32b72f;
  font-size: 18px;
  letter-spacing: 1.18%;
  font-weight: 700;
  cursor: pointer;
  transition: .4s ease-in-out;
}

button.confirmar-pedido:hover{
  transform: scale(1.03);
}

.cancelar{
  margin:8px 0 15px 0;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.20%;
  color:#ffffff;
  text-align: center;
  cursor: pointer;
}

.overlay{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 115vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .cards {
    overflow-x: scroll;
  }

  .button-confirm {
    text-align: center;
  }
}
